@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.template {
  transform-origin: center;
  transform: scale(1);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.template::-webkit-scrollbar {
  display: none;
}

/* Remove default marker styles */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

/* Remove default marker styles */
details summary::marker {
  display: none;
}

details summary {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

/* Arrow icon when collapsed */
details summary::before {
  content: "＋";
  position: absolute;
  left: 0;
}

/* Arrow icon when expanded */
details[open] summary::before {
  content: "−";
  padding-left: 3px;
}

/* Open state */

/* .scales {
  --scale: 0.5;

  width: 400px;
  height: 400px;
  background: lightgreen;
  transform: scale(var(--scale));
  transform-origin: top center;
  margin-bottom: calc((var(--scale) - 1) * 100%);
} */

.mantine-mcm8g9 {
  background-color: #0891b2;
}

.mantine-mcm8g9:hover {
  background-color: #0891b2;
}

/* @layer base {
  ul,
  ol {
    list-style: revert;
  }
} */

/* .html2canvas-container {
  width: 3000px !important;
  height: 3000px !important;
} */

.mantine-1q36a81 {
  padding: 0 !important;
}

.scroll::-webkit-scrollbar {
  display: none;
}

.ProseMirror p:empty::before {
  content: "" !important;
  display: inline-block !important;
}

/** TIPTAP EDITOR */

.ProseMirror > * + * {
  margin-top: 0.75em;
}
.ProseMirror ul,
.ProseMirror ol {
  padding: 0 1rem;
}
.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3,
.ProseMirror h4,
.ProseMirror h5,
.ProseMirror h6 {
  line-height: 1.1;
}
.ProseMirror code {
  background-color: rgba(97, 97, 97, 0.1);
  color: #616161;
}
.ProseMirror pre {
  background: #0d0d0d;
  color: #fff;
  font-family: "JetBrainsMono", monospace;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
}
.ProseMirror pre code {
  color: inherit;
  padding: 0;
  background: none;
  font-size: 0.8rem;
}
.ProseMirror img {
  max-width: 100%;
  height: auto;
}
.ProseMirror blockquote {
  padding-left: 1rem;
  border-left: 2px solid rgba(13, 13, 13, 0.1);
}
.ProseMirror hr {
  border: none;
  border-top: 2px solid rgba(13, 13, 13, 0.1);
  margin: 2rem 0;
}

.Proser {
  display: flex;
}

.Proser > * + * {
  margin-left: 1rem;
}

.Proser .button:active {
  background-color: red !important;
  border: 2px solid black;
}

.ProseMirror {
  min-height: 100%;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  border: 1px solid rgb(230, 230, 230);
  outline: none !important;
}

.ProseMirror .ProseMirror-focused {
  border: 1px solid gray;
  width: 100%;
  min-height: 100%;
  outline: none !important;
}

.ProseMirror ol {
  list-style-type: decimal !important;
}

.ProseMirror ul {
  list-style-type: disc !important;
}

@media print {
  /* Adjust fonts, colors, and layout for print */
  body {
    font-size: 12px;
    color: black;
  }

  /* Hide non-printable elements */
  .non-printable {
    display: none;
  }
}

.wrap {
  display: flex;
  justify-content: space-between;
}

/* Add experience button animation */

.fade-in {
  animation: fade-in 0.5s forwards;
}

@keyframes fade-in {
  0% {
    transform-origin: top; /* Set the origin to the top */
    transform: scaleY(0); /* Start with zero height */
    opacity: 0;
  }

  100% {
    transform-origin: top; /* Maintain origin at the top */
    transform: scaleY(1); /* End with full height */
    opacity: 1;
  }
}

/* delete experience button animation */

.fade-out {
  animation: fade-out 1s forwards;
}

@keyframes fade-out {
  100% {
    opacity: 0;
    transform: skewX(50deg) translateX(-25vw);
  }
}

.floating-input label {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 0.75rem 1rem;
  color: #868e96;
}

.floating-input input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  color: black;
  background: white;
  bottom: 2.5rem;
  left: 0.5rem;
  padding: 0.1rem;
  font-size: 14px;
  transition: bottom 300ms ease-out;
}

.linkedIn {
  display: flex;
}

.anime {
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.anime:not([open]) {
  height: 1.5em;
}

.anime[open] {
  height: 31em;
}

.pro {
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.pro:not([open]) {
  height: 3.5em;
}

.pro[open] {
  height: 22em;
}

.edu {
  transition: height 1s ease-in-out;
  overflow: hidden;
}

.edu:not([open]) {
  height: 1.5em;
}

.edu[open] {
  height: 22em;
}
