@tailwind base;
@tailwind components;
@tailwind utilities;

.template {
  transform-origin: center;
  transform: scale(1);
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.template::-webkit-scrollbar {
  display: none;
}

/* Remove default marker styles */
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

/* Remove default marker styles */
details summary::marker {
  display: none;
}

details summary {
  padding-left: 20px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

/* Arrow icon when collapsed */
details summary::before {
  content: "＋";
  position: absolute;
  left: 0;
}

/* Arrow icon when expanded */
details[open] summary::before {
  content: "−";
  padding-left: 3px;
}

/* .scales {
  --scale: 0.5;

  width: 400px;
  height: 400px;
  background: lightgreen;
  transform: scale(var(--scale));
  transform-origin: top center;
  margin-bottom: calc((var(--scale) - 1) * 100%);
} */

.mantine-mcm8g9 {
  background-color: #0891b2;
}

.mantine-mcm8g9:hover {
  background-color: #0891b2;
}

/* @layer base {
  ul,
  ol {
    list-style: revert;
  }
} */

/* .html2canvas-container {
  width: 3000px !important;
  height: 3000px !important;
} */

.mantine-1q36a81 {
  padding: 0 !important;
}

.scroll::-webkit-scrollbar {
  display: none;
}
